body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f5f6fa;
}

/* LAYOUT */
.dashboard {
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  height: 100vh;
  background: #1e272e;
  color: white;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.sidebar li:hover {
  background: #485460;
}

/* MAIN */
.main {
  flex: 1;
  padding: 20px;
}

/* HEADER */
.header {
  margin-bottom: 20px;
}

/* CARD */
.card {
  background: white;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* INPUT */
input {
  padding: 8px;
  margin: 5px;
}

button {
  padding: 8px 12px;
  background: #4b7bec;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #3867d6;
}

/* TASK LIST */
li {
  list-style: none;
  margin: 10px 0;
  padding: 10px;
  background: #ecf0f1;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

/* PROGRESS */
.progress-container {
  width: 100%;
  height: 20px;
  background: #ddd;
  border-radius: 10px;
}

#progressBar {
  height: 100%;
  width: 0%;
  background: #4b7bec;
  border-radius: 10px;
  transition: 0.3s;
}
/* LOGIN PAGE */
.login-body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #4b7bec, #a55eea);
  font-family: 'Segoe UI', sans-serif;
}

.login-container {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 15px;
  width: 300px;
  text-align: center;
  color: white;
  box-shadow: 0 8px 32px rgba(0,0,0,0.2);
}

.login-container h2 {
  margin-bottom: 10px;
}

.subtitle {
  font-size: 14px;
  margin-bottom: 20px;
  color: #eee;
}

.login-container input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  outline: none;
}

.btn-group {
  margin-top: 15px;
}

.login-container button {
  width: 45%;
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: white;
  color: #4b7bec;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.login-container button:hover {
  background: #ddd;
}

.signup {
  background: transparent;
  color: white;
  border: 1px solid white;
}

.signup:hover {
  background: white;
  color: #4b7bec;
}